In [1]:
import pandas as pd

data = pd.read_csv('./data/processed_headlines_clustered.csv', index_col=0)
data[['headline', 'city', 'latitude', 'longitude', 'countrycode']].head()

,headline,city,latitude,longitude,countrycode
0,Zika Outbreak Hits Miami,Miami,25.77427,-80.19366,US
1,Could Zika Reach New York City?,New York City,40.71427,-74.00597,US
2,First Case of Zika in Miami Beach,Miami Beach,25.79065,-80.13005,US
3,"Mystery Virus Spreads in Recife, Brazil",Recife,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika,Dallas,32.78306,-96.80667,US

In [3]:
data_US = data[data['countrycode']=='US']
data_US.head()

,headline,city,accented_city,latitude,longitude,countrycode,pop,cluster,x,y
0,Zika Outbreak Hits Miami,Miami,Miami,25.77427,-80.19366,US,441003.0,0,-80.19366,25.77427
1,Could Zika Reach New York City?,New York City,New York City,40.71427,-74.00597,US,8175133.0,0,-74.00597,40.71427
2,First Case of Zika in Miami Beach,Miami Beach,Miami Beach,25.79065,-80.13005,US,92312.0,0,-80.13005,25.79065
4,Dallas man comes down with case of Zika,Dallas,Dallas,32.78306,-96.80667,US,1300092.0,0,-96.80667,32.78306
6,Zika Concerns are Spreading in Houston,Houston,Houston,29.76328,-95.36327,US,2296224.0,0,-95.36327,29.76328

In [4]:
data_WL = data[data['countrycode']!='US']
data_WL.head()

,headline,city,accented_city,latitude,longitude,countrycode,pop,cluster,x,y
3,"Mystery Virus Spreads in Recife, Brazil",Recife,Recife,-8.05389,-34.88111,BR,1478098.0,1,-34.88111,-8.05389
5,Trinidad confirms first Zika case,Trinidad,Trinidad,-14.83333,-64.90000,BO,84259.0,0,-64.90000,-14.83333
7,Geneve Scientists Battle to Find Cure,Geneve,Genève,46.20222,6.14569,CH,183981.0,2,6.14569,46.20222
9,Zika Infested Monkeys in Sao Paulo,Sao Paulo,São Paulo,-23.54750,-46.63611,BR,10021295.0,1,-46.63611,-23.54750
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,San Juan,-31.53750,-68.53639,AR,447048.0,3,-68.53639,-31.53750

In [5]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

plt.rcParams['font.size'] = 18

%matplotlib inline

# Simple world map
m = Basemap()
_ = m.shadedrelief()

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'